<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:h2:file:/Users/administrator/Desktop/h2</property>
		<property name="connection.driver_class">org.h2.Driver</property>
		<property name="hibernate.connection.username">
			sa
		</property>
		<property name="hibernate.connection.password"></property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
<!--		<mapping class="oneToOne.GSTRegistration" />-->
<!--		<mapping class="oneToOne.Company" />-->
		<mapping class="oneToMany.Product" />
		<mapping class="oneToMany.Company" />
	</session-factory>
</hibernate-configuration>